@-moz-document url-prefix(about:preferences),
			   url-prefix(about:addons),
			   url-prefix(about:neterror),
			   url-prefix(about:certerror),
			   url-prefix(about:httpsonlyerror),
			   url-prefix(about:profiles),
			   url-prefix(about:networking),
			   url-prefix(about:buildconfig),
			   url-prefix(about:debugging),
			   url-prefix(about:support),
			   url-prefix(about:config),
			   url-prefix(about:cache),
			   url-prefix(about:url-classifier),
			   url-prefix(about:unloads),
			   url-prefix(about:third-party),
               url-prefix(about:about) {
:root {
	--button-background-normal: transparent;
	--button-border-color-normal: #C1C1C1;
	--button-text-color-normal: #333;
	
	--in-content-page-background: #FBFBFB !important;
	--in-content-page-color: #424E5A !important;
	--in-content-box-border-color: #C1C1C1 !important;
	--in-content-button-text-color: #333 !important;
	--in-content-border-color: #C1C1C1 !important;
	--in-content-button-border-color: #C1C1C1 !important;
	--in-content-button-border-color-hover: #C1C1C1 !important;
	--in-content-button-background: #FBFBFB !important;
	--in-content-button-background-hover: #EBEBEB !important;
	--in-content-border-highlight: #FF9500;
    --in-content-category-text-selected: #F2F2F2;
	--in-content-primary-button-background: #0A84FF !important;
	--in-content-primary-button-border-color: #0A84FF !important;
	--in-content-primary-button-background-hover: #0060DF !important;
	--in-content-table-background: #EBEBEB !important;
	--in-content-box-border-color: #C1C1C1 !important;
	--focus-outline-color: #0A84FF !important;
	--focus-outline-width: 1px !important;
	--focus-outline-offset: 1px !important;
	
	
	
	--link-color: #0A84FF !important;
    --link-color-hover: #0060DF !important;
    --link-color-active: #0060DF !important;
    --link-color-visited: #0A84FF !important
}
search-addons > search-textbox,
#netErrorButtonContainer > button,
.button-container > button:last-child,
.button-container > button:first-child {
  border-radius: 2px !important;
  font-weight: normal !important;
}
.checkbox-check {
  appearance: none !important;
  width: 23px !important;
  height: 23px !important;
  border: 1px solid var(--in-content-box-border-color);
  border-radius: 2px;
  margin: 0;
  margin-inline-end: 10px !important;
  background-color: #f1f1f1;
  background-image: linear-gradient(#fff, rgba(255,255,255,0.8));
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 0 1px 1px 0 #fff, inset 0 2px 0 0 rgba(0,0,0,0.03);
}
.checkbox-check[checked] {
  list-style-image: url("chrome://echelon/content/firefox-56/skin/check.svg");
  -moz-context-properties: fill, stroke;
  fill: #2292d0;
  stroke: none;
}
.radio-check {
  appearance: none !important;
  margin: 1px 0 !important;
  width: 23px !important;
  height: 23px !important;
  border: 1px solid var(--in-content-box-border-color);
  border-radius: 50%;
  margin-inline-end: 10px !important;
  background-color: #f1f1f1;
  background-image: linear-gradient(#fff, rgba(255,255,255,0.80));
  box-shadow: 0 1px 1px 0 #fff, inset 0 2px 0 0 rgba(0,0,0,0.03);
}
.radio-check[selected] {
    list-style-image: url("chrome://echelon/content/firefox-56/skin/radio.svg");
    -moz-context-properties: fill;
    fill: #2292d0;
}
:root menulist, :root button:not(.toggle-button, [role="menuitem"], [role="menuitemcheckbox"], .menu-item, .dialogClose, .category, .devtools-tab, .devtools-tabbar-button, .devtools-button, .all-tabs-menu, .open-inspector, .compatibility-footer__button, .devtools-searchinput-clear, .breadcrumbs-widget-item, .devtools-togglebutton, .editor-onboarding-dismiss-button, .command-bar-button, .header-buttons > button, .perf-external-link, .perf-photon-button, .perf-photon-button-ghost, .arrowhead) {
  min-height: 30px !important;
  font-size: 15px !important;
  border-radius: 2px !important;
  font-weight: normal !important;
  padding: 2px 10px 3px 10px !important;
}

}
@-moz-document url-prefix(about:HttpsOnlyError),
               url-prefix(about:httpsonlyerror),
               url-prefix(about:certerror) {
.title {
  background-image: url("chrome://echelon/content/firefox-56/skin/cert-error.svg") !important;
}
}
@-moz-document url-prefix(about:preferences),
			   url-prefix(about:addons) {
#policies-container, #searchInput {
  min-height: 30px !important;
  border-radius: 2px !important;
  color: #333 !important;
}


body {
  background-color: #FBFBFB;
}
.main-content {
  padding: 0 44px 48px 48px !important;
}

checkbox, radio {
  margin: 0 !important;
}



#label-box:not([native]) {
  font-weight: normal !important;
}
dropmarker:not([native]) {
  content: url("chrome://echelon/content/firefox-56/arrow-dn.gif")  !important;
  width: 8px  !important;
  height: 5px  !important;
}



.accessory-button {
  min-width: 145px !important;
  margin: 2px 4px !important;
}


.pane-container {
  width: 800px !important;
}
.sticky-inner-container {
  max-width: 800px !important;
}
@media (max-width: 830px) {
.pane-container {
  width: 600px !important;
}
.sticky-inner-container {
  max-width: 600px !important;
}
}
treecol {
  background-color: #EBEBEB !important;
}
.sticky-container {
  margin-inline: 0 !important;
  padding-inline: 0 !important;
}

.addon.card {
  background: revert !important;
  border: revert !important;
  border-radius: revert !important;
  box-shadow:  revert !important;
  margin: revert !important;
  padding: 5px !important;
  border-bottom: 1px solid #c1c1c1 !important;
}

.fxaSyncIllustration {
  list-style-image: url(chrome://echelon/content/firefox-56/skin/sync-illustration.svg) !important; 
  width: 231px !important;
  height: auto !important;
  fill: #bfcbd3 !important;
}

/* sidebar */

#sidebar {
  background: #424F5A;
  width: 186px !important;
}
.navigation {
  background: #424F5A;
}
#categories {
  margin: 40px 0 0 !important;
  width: 186px !important;
}
#categories > .category {
  border: 0 !important;
  border-radius: 0 !important;
  min-height: 40px !important;
  margin-inline-start: 0 !important;
  transition: revert !important;
  padding-inline-start: 11px !important;
  padding-inline-end: 18px !important;
  color: #C1C1C1 !important;
  border-inline-start: solid 4px transparent !important;
}
#categories > .category:hover {
    background-color: #5E6972 !important;
}
#categories > .category[selected]:not(:hover),
#categories > .category[selected]:hover {
  background-color: #343F48 !important;
  color: var(--in-content-category-text-selected) !important;
  border-inline-start: solid 4px var(--in-content-border-highlight) !important;
}
.category-name {
  font-size: 15px !important;
  line-height: 22px !important;
  padding-bottom: 2px !important;
}
.sidebar-footer-list {
  margin-block: 0 1rem !important;
  margin-inline: 0 !important;
  padding: 0 !important;
}
.sidebar-footer-label {
  font-size: 13px !important;
  margin: 0 !important;
}
.sidebar-footer-icon {
  width: 14px !important;
  height: 14px !important;
  margin-inline-start: 15px !important;
}
.sidebar-footer-link {
  border: 0 !important;
}
.sidebar-footer-link:hover {
  background-color: #5E6972 !important;
}
.sidebar-footer-link, .sidebar-footer-link:visited {
  color: #C1C1C1 !important;
}
#category-general > .category-icon, #category-librewolf > .category-icon, #category-librewolf > .category-icon {
  list-style-image: url("chrome://echelon/content/firefox-56/skin/icons.svg#general") !important;
}]
#category-home > .category-icon {
  list-style-image: url("chrome://browser/skin/home.svg");
}
#category-search > .category-icon {
  list-style-image: url("chrome://echelon/content/firefox-56/skin/icons.svg#search") !important;
}
#category-privacy > .category-icon {
  list-style-image: url("chrome://echelon/content/firefox-56/skin/icons.svg#security") !important;
}
#category-sync > .category-icon {
  list-style-image: url("chrome://echelon/content/firefox-56/skin/icons.svg#sync") !important;
}
#addonsButton  {
  display: none !important;
}
.category[name="discover"] {
  background-image: url("chrome://echelon/content/firefox-56/skin/extensions/category-discover.png") !important;
}
.category[name="extension"] {
  background-image: url("chrome://echelon/content/firefox-56/skin/extensions/category-extensions.svg") !important;
}
.category[name="theme"] {
  background-image: url("chrome://echelon/content/firefox-56/skin/extensions/category-themes.png") !important;
}
.category[name="plugin"] {
  background-image: url("chrome://echelon/content/firefox-56/skin/extensions/category-plugins.png") !important;
}
.category[name="locale"] {
  background-image: url("chrome://echelon/content/firefox-56/skin/extensions/category-languages.png") !important;
}
.category[name="dictionary"] {
  background-image: url("chrome://echelon/content/firefox-56/skin/extensions/category-dictionaries.png") !important;
}
.category[name="available-updates"] {
  background-image: url("chrome://echelon/content/firefox-56/skin/extensions/category-available.png") !important;
}
.category[name="recent-updates"] {
  background-image: url("chrome://echelon/content/firefox-56/skin/extensions/category-recent.png") !important;
}
img[src="chrome://global/skin/icons/plugin.svg"] {
	content: url("chrome://echelon/content/firefox-56/skin/extensions/category-plugins.png") !important;
}
img[src="https://addons.mozilla.org/static-server/img/addon-icons/default-32.png"] {
    content:: url("chrome://echelon/content/firefox-56/skin/extensions/category-extensions.svg") !important;
}
#category-home > .category-icon {
  list-style-image: url("chrome://echelon/content/firefox-29/toolbar/win8/home.svg") !important;
  fill: #fbfbfb !important;
}
@media (max-width: 830px) {
  #categories > .category {
    margin-inline-end: 0 !important;
    width: 55px !important;
  }
  #categories,
  #sidebar   {
  width: 55px !important;
}
}
.category-badge {
    background-color: #55D4FF !important;
    padding: 2px 8px !important;
    margin: 6px 0 !important;
    margin-inline-start: 6px !important;
    border-radius: 100% !important;
    color: #FFF !important;
    font-weight: bold !important;
    text-align: center !important;
}
.category[name="discover"] {
  display: block !important;
}
/* sidebar */
}
@-moz-document url-prefix(about:addons) {
#main {
  margin-inline-start: 0!important;
  margin-bottom: 28px;
  max-width: 95% !important;
}
.main-search {
  max-width: 93% !important;
}
.main-heading {
  max-width: 92% !important;
}
.category {
  background-position-x: 11px !important;
  background-position-y: 8px !important;
}
.category-name {
  padding-inline-start: 31px !important;
}
.card-heading-icon {
  margin: 10px 12px !important;
}
.card-heading-image {
  margin: 0 !important;
}
.sidebar-footer-list {
  display: none !important;
}
.page-options-menu > .more-options-button {
  background-image: url("chrome://echelon/content/firefox-56/skin/extensions/utilities.svg") !important;
  width: 49px  !important;
  height: 30px  !important;
  fill: #424f5a  !important;
  background-position-x: 10px !important;
}
.page-options-menu > .more-options-button:before {
  content: '';
  background-image: url("chrome://echelon/content/firefox-56/arrow-dn.gif") !important;
  width: 5px  !important;
  height: 3px  !important;
  margin: 11px 2px !important;
}
}
@-moz-document url-prefix(about:networking) {
#categories {
  width: 126px !important;
  background: #424F5A !important;
  padding: 40px 0 0 !important;
  margin: 0 !important;
}
#categories > .category {
  border: 0 !important;
  border-radius: 0 !important;
  min-height: 40px !important;
  color: inherit !important;
  margin-inline-start: 0 !important;
  padding-inline: 0 !important;
}	
#categories > hr:nth-child(5) {
  display: none;
}		   
#categories > .category {
  color: #C1C1C1 !important;
}
#categories > .category:hover {
background-color: #5E6972 !important;
}	
#categories > .category[selected], #categories > .category.selected,
#categories > .category[selected]:hover {
  background-color: #343F48 !important;
  color: var(--in-content-category-text-selected) !important;
  border-inline-start: solid 4px var(--in-content-border-highlight) !important;
}			   
}
@-moz-document url-prefix(about:webrtc),
               url-prefix(about:robots),
               url-prefix(about:memory),
               url-prefix(about:serviceworkers)	{
:root {
  background: -moz-Dialog !important;
  color: -moz-FieldText !important;
  font-family: Segoe UI !important;
}
:root:not(.system-font-size) {
  font-size: unset !important;
}
  button, select, input[type="color"], menulist {
  appearance: button !important;
  min-height: revert !important;
  color: revert !important;
  border: revert !important;
  border-radius: revert  !important;
  background-color: revert !important;
  font-weight: revert !important;
  padding: revert !important;
  text-decoration: none !important;
  margin: revert !important;
  font: revert !important;
    font-weight: revert !important;
}
div.opsRow {
  border: 1px solid ThreeDShadow  !important;
  border-radius: 10px  !important;
}
div.opsRowLabel, div.sidebarLabel {
  font-size: 12px !important;
}
}
@-moz-document url-prefix(about:robots) {
body {
  min-height: revert !important;
  padding: revert !important;
}
ul {
  list-style: square !important;
}
ul, ol {
  margin: 0 0 0 0 !important;
  padding: 0 !important;
  margin-inline-start: 19.8px !important;
  padding-inline-end: 3em !important;
}
ul > li, ol > li {
  margin-bottom: 8.6px !important;
}
:root:not(.system-font-size) {
  font-size: 13.2px !important;
}
.container {
  position: relative !important;
  min-width: 13em !important;
  max-width: 624px !important;
  min-height: 303px!important;
  margin: 48px auto !important;
  border: 1px solid ThreeDShadow !important;
  border-radius: 10px !important;
  padding: 36px 36px 36px 30px !important;
  padding-inline-start: 30px !important;
  background: -moz-Field !important;
}
.container:after, 
.container:before {
  position: absolute !important;
  bottom: -12px !important;
  content: url("chrome://echelon/content/firefox-4/aboutRobots-widget-left.png") !important;
}
.container:after {
  left: -10px !important; 
}
.container:before {
  right: -10px !important;
  transform: scaleX(-1) !important;
}
.title {
  margin: 0 !important;
  background-image: unset !important;
  min-height: auto !important;
  padding-inline-start: 80px !important;
}
.title-text {
  margin: 0 0 .6em 0 !important;
  padding: 0 !important;
  font-size: 19.2px !important;
}
.title ::before {
  content: url('chrome://browser/content/aboutRobots-icon.png')!important;
  position: absolute !important;
  left: 30px !important;
}
.description {
  margin-inline-start: 80px !important;
}
.button-container {
  margin-inline-start: 80px !important;
}
#errorShortDescText {
  border-bottom: 1px solid ThreeDLightShadow  !important;
  padding-bottom: 1em  !important;
  font-size: 15.6px  !important;
}
h1 {
  margin: 0 0 .6em 0 !important;
  border-bottom: 1px solid ThreeDLightShadow !important;
  font-size: 160% !important;
}
.description > div:nth-child(3) {
  margin: 10px 0 !important;
  font-size: 14px !important;
}
button-container {
  margin-top: 38px !important;
}
}
@-moz-document url-prefix(about:cache),
               url-prefix(about:buildconfig) {
html {
  line-height: 1.6em  !important;
  background: -moz-Dialog !important;
  font-family: Segoe UI !important;
}
body {
  max-width: 80%  !important;
  min-width: 330px  !important;
  min-height: auto  !important;
  padding: 0 30px  !important;
  margin: 4em auto  !important;
}
table {
  background-color: unset  !important;
  color: unset !important;
  font: message-box !important;
  text-align: unset !important;
  width: 100% !important;
  border: unset !important;
  border-radius: 10px !important;
  padding: 0.5em 0 !important;
}
td {
  border: unset !important;
}
th {
  background-color: unset !important;
  color: unset !important;
  border: unset !important;
}
th, td {
  padding: 0 4px !important;
  text-align: Segoe UI !important;
}
h2 {
  width: 100% !important;
}
h1, .heading-xlarge {
  font-weight: 300!important;
  font-size: 28.8px !important;
}
a, .text-link, ::part(support-link),
a:hover, .text-link:hover, button.text-link:is(:not([disabled="true"]), :enabled):hover, ::part(support-link):hover {
  color: revert !important;
}
}
@-moz-document url-prefix(about:config) {
:root:not(.system-font-size) {
  font-size: 12px !important;
  --in-content-button-background: #EBEBEB !important;
  --in-content-button-background-hover: #DADADA !important;
}
description, label {
  margin-block: 0 !important;
  margin-inline: 0 !important;
  font-size: 14px !important;
}
search-textbox {
  min-height: 30px !important;
  padding-inline: 8px !important;
  border-radius: 2px !important;
}
.textbox-search-clear {
  list-style-image: url('chrome://echelon/content/firefox-4/Search-close.png') !important;
  -moz-image-region: rect(0, 16px, 16px, 0) !important;
  height: 14px !important;
}
.textbox-search-sign, .textbox-search-icon {
  width: auto !important;
  margin-top: 2px !important;
}
.textbox-search-clear:hover:not([disabled]) {
  -moz-image-region: rect(0, 32px, 16px, 16px) !important;
}
treechildren::-moz-tree-row(multicol, odd) {
  background-color: revert !important;
}
treechildren::-moz-tree-row(multicol, odd, selected) {
  background-color: var(--in-content-item-selected) !important;
}
select[size][multiple] > html|option:hover,
treechildren::-moz-tree-row(hover) {
  background-color: #BFE4F7 !important;
}
}
